@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hot-category-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hot-category-container {
  display: flex;
  justify-content: center;
}

.hot-category {
  min-width: 650px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 312px);
  grid-template-rows: repeat(2, 312px);
  grid-template-areas:
    "card-main card-main card-1 card-2"
    "card-main card-main card-3 card-4";
  position: relative;
}

.hc-main-card {
  grid-area: card-main;
}

.hc-card-1 {
  grid-area: card-1;
}

.hc-card-2 {
  grid-area: card-2;
}

.hc-card-3 {
  grid-area: card-3;
}

.hc-card-4 {
  grid-area: card-4;
}

/* Mobile screen */

@media screen and (max-width: 1300px) {
  .hot-category {
    padding: 0 30px 0 50px;
    min-width: 200px;
    grid-template-columns: repeat(2, minmax(156px, 312px));
    grid-template-rows: repeat(4, minmax(156px, 312px));
    grid-template-areas:
      "card-main card-main"
      "card-main card-main"
      "card-1 card-2"
      "card-3 card-4";

    &::after {
      content: "Explore new and popular styles";
      font-size: 30px;
      text-transform: uppercase;
      white-space: nowrap;
      transform-origin: 0 0;
      transform: rotate(-90deg);
      position: absolute;
      bottom: 700px;
      left: 0;
    }
  }
}

/* Desktop screen */

@media screen and (min-width: 1300px) {
  .hot-category {
    padding: 0 30px 0 50px;
    &::after {
      content: "Explore new and popular styles";
      font-size: 34px;
      text-transform: uppercase;
      transform-origin: 0 0;
      transform: rotate(-90deg);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
