.newsletter-instagram{
    
    background-color: #1E28320D;
    text-align: center;
    font-family: 'roboto'

}

.Instagram-email{
    border: 0px;
    border-bottom: 2px solid black;
    background: none;
    margin: 0 auto;
    width: 643px;
    height: 32px;
    top: 622px;
    left: 517px;
    gap: 0px;
    opacity: 0px

}

    


button{
    
    border: 0px;
    border-bottom: 2px solid black;
    margin: 0 auto;
    height: 32px;
    

}
.subscribeheadline{
   font-family: 'roboto';
   text-align: center; 
   text-shadow: 0px 0px 10px 0px black;
   font-weight: bolder
   
   

}

;

