.newletter-instagram{
    
    background-color: #1E28320D;
}
input{
    border: 0px;
    border-bottom: 2px solid black;
    background: none;
    margin: 0 auto;
    width: 643px;
    height: 32px;
    top: 622px;
    left: 517px;
    gap: 0px;
    opacity: 0px

}
button{
    border: 0;
    border-bottom: 2px solid black;
    margin: 0 auto;
    height: 32px;

}
h2{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center; 
   font-weight: bolder;
}
img{
    width: 200px;
    height: 200px;
}