* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.bs-container {
  width: 1320px;
  height: 639px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 35px;
}

.bs-sub-title {
  font-size: clamp(25px, 5vw, 50px);
  font-weight: 500;
}

.bs-menu {
  width: 100%;
  height: 32px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.bs-menu-items {
  display: flex;
  width: 373px;
  justify-content: space-between;
  list-style: none;
}

.bs-menu-item {
  font-size: 16px;
  font-weight: 600;
}

.bs-menu-item a {
  text-decoration: none;
  color: #737373;
}

.active {
  color: black !important ;
}

.bs-show-all-btn {
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 373px;
}

.swiper-button-next {
  --swiper-navigation-size: 32px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 35px;
  --swiper-navigation-color: #1e2832b1;
}

.swiper-button-prev {
  --swiper-navigation-size: 32px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 35px;
  --swiper-navigation-color: #1e2832b1;
}

.bs-card {
  width: 312px;
  height: 478px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bs-card:hover {
  opacity: 0.3;
}

.bs-card-img {
  position: relative;
  max-width: max-content;
}

.bs-sale {
  position: absolute;
  left: 0;
  top: 21px;
  width: 50px;
  height: 24px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hot {
  background-color: #ff6f61;
}

.default {
  background-color: #1f2732;
}

.bs-sale > span {
  font-size: 13px;
  color: white;
  font-weight: 300;
}

.bs-card-body {
  margin: 5px 10px;
  font-size: 14px;
}

.bs-sale {
  margin: 5px 0;
  font-weight: 500;
}

.bs-card-footer {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.bs-card-price {
  font-weight: bold;
}

.bs-price-old {
  font-size: 12px !important;
}

.bs-price-new {
  color: red;
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
}

.bs-card-ctg,
.bs-price-old {
  color: rgb(179, 179, 179);
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .bs-container {
    width: 95%;
  }

  .swiper {
    width: 1320px;
  }
}

@media screen and (max-width: 834px) {
  .bs-container {
    width: 100%;
  }

  .swiper {
    width: 980px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .bs-menu {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
}
