/* Comman Css Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
/* Comman Css End */

/* Serdest - Product View Template Start*/

.pvt-container {
  max-width: 1320px;
  height: 1141px;
  margin: 0 auto;
}

.pvt-title {
  font-size: clamp(30px, 5vw, 50px);
  font-weight: 500;
  text-align: center;
  margin-bottom: 35px;
}

.pvt-nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.pvt-menu-items {
  width: 373px !important;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pvt-menu-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #00000075;
}

.pvt-link {
  font-family: "Open Sans", sans-serif;
}

.pvt-active {
  color: #000;
}

.pvt-link {
  text-decoration: none;
  color: inherit;
}

.pvt-filter-btn {
  border: none;
  background-color: #1e2832;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.pvt-filter-btn:hover {
  background-color: #191616b3;
}

.pvt-filter-btn > .pvt-filter-btn-icon {
  width: 20px;
  height: 20px;
}

.pvt-product-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.pvt-product-card {
  height: 478px;
  display: flex;
  flex-direction: column;
  /* max-width: 312px; */
  flex: 1 1 20%;
  gap: 18px;
  cursor: pointer;
}

.pvt-card-img {
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.pvt-product-card-img {
  max-width: 100%;
  object-fit: cover;
}

.pvt-badget-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pvt-hidden {
  opacity: 0;
  transition: all 0.3s;
}

.pvt-badget {
  width: 100%;
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: initial;
}

.pvt-badget-items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center !important;
  padding: 15px 15px;
}

.pvt-badget-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.pvt-badget-heart,
.pvt-badget-search,
.pvt-badget-shop {
  width: 22px;
}

.pvt-badget-heart {
  margin-right: 30px;
}

.pvt-badget-item:last-child {
  margin-left: auto;
  color: #fff;
  display: flex;
  gap: 10px;
}

.pvt-product-card-title {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  padding-left: 10px;
}

.pvt-product-card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

@media screen and (max-width: 1024px) {
  .pvt-product-card {
    flex: 1 1 31%;
  }
}

@media screen and (max-width: 768px) {
  .pvt-product-card {
    flex: 1 1 45%;
  }
}

@media screen and (max-width: 480px) {
  .pvt-product-card {
    flex: 1 1 95%;
    justify-self: center;
    margin: 0 10px;
  }

  .pvt-product-card-img {
    width: 100%;
    height: auto;
  }

  .pvt-nav-menu {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .pvt-menu-items {
    max-width: 100%;
  }
}

/* Serdest - Product View Template End*/
