
* {
  margin: 0;
  padding: 0;
}

.banner-container {
  width: 1920px;
  height: 776px;
  background-color: red;
}

.bg-img {
  background-image: url("/images/brand-banner/background.png");
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-bg-logo {
  width: 732px;
  height: 309px;
  position: absolute;
  right: 0;
  top: 51px;
}

.banner-bg-logo > img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.banner-context {
  height: 533px;
  width: 837px;
  position: absolute;
  top: 233px;
  left: 1083px;
}

.img-logo {
  height: 81px;
  width: 191px;
  margin-bottom: 55px;
}

.banner-text {
  color: white;
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 40px;
  font-size: 26px;
}

.banner-btn {
  padding: 19px 26px;
  font-size: 29px;
  font-family: "Roboto", sans-serif;
  line-height: 34px;
  margin-top: 55px;

}
