* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.newsletter-instagram {
  background-color: #1e28320d;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 75px 0px 75px 0px;
}
.discountsonInstagramheadline {
  margin: 50px 0px 0px 0px;
}
.email {
  max-width: 800px;
  font-family: "roboto";
  white-space: nowrap;
  margin: 0 auto;
  display: flex;
  text-align: center;
  
}
.instagram-photo {
  margin: auto;
  width: max-content;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.instaphoto-box {
  position: relative;
}
.newsletter {
  padding-top: 50px;
  padding-bottom: 50px;
}
.instagramlogo {
  width: 150px;
  height: 100px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.instaphoto-box:hover .instagramlogo {
  opacity: 4;
}

.discountsonInstagramheadline {
  margin: 20px 0px 30px 0px;
  text-align: center;
  font-size: auto;
  font-family: "roboto";
}
.Instagram-email {
  border: 0px;
  border-bottom: 2px solid black;
  background: none;
  margin: 0 auto;
  flex: 1;
  height: 32px;
  outline: none;
  top: 622px;
  left: 517px;
  gap: 0px;
  opacity: 0px;
}
.instagramsubmitbutton {
  border: 0px;
  padding-bottom: 7px;
  border-bottom: 2px solid black;
}
.instagramsubmitbutton:hover {
  border-bottom-width: 3px;
  color: orangered;
  border-bottom: 2px solid orangered;
}

.subscribeheadline {
  font-family: "roboto";
  text-align: center;
  text-shadow: 0px 0px 10px 0px black;
  font-weight: bolder;
}
