@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hot-category {
  padding-left: 75px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "ctg-card-main ctg-card-main ctg-card-1 ctg-card-2"
    "ctg-card-main ctg-card-main ctg-card-3 ctg-card-4";
}

.hc-text {
  opacity: 0;
}

.hot-category-card-main {
  position: relative;

  &::after {
    content: "Explore new and popular styles";
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-0.25turn);
    position: absolute;
    top: 300px;
    left: -330px;
  }
}

.hot-category .hot-category-card-main {
  grid-area: ctg-card-main;
}

.hot-category .hot-category-card-main img,
.hot-category .ht-ctg-card img {
  width: 100%;
  height: 100%;
}

.hot-category .hot-category-card-1 {
  grid-area: ctg-card-1;
}

.hot-category .hot-category-card-2 {
  grid-area: ctg-card-2;
}

.hot-category .hot-category-card-3 {
  grid-area: ctg-card-3;
}

.hot-category .hot-category-card-4 {
  grid-area: ctg-card-4;
}

/* Mobile Styles */

@media (max-width: 1400px) {
  .hc-text {
    opacity: 1;
    grid-area: hot-text;
    text-align: center;

    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .hot-category {
    padding-left: 0;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px repeat(4, 1fr);
    grid-template-areas:
      "hot-text hot-text"
      "ctg-card-main ctg-card-main"
      "ctg-card-main ctg-card-main"
      "ctg-card-1 ctg-card-2"
      "ctg-card-3 ctg-card-4";
  }
}
