@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.body{
    width: 1920px;
    height:776px ;
    top:3166px;
    position: cover;
    font-family: "Roboto",sans-serif;
}
.Brand-Banner{
    width: 1920px;
    height: 776px;
    background-image: url("../images/brand-banner/background.png");
    top: 100%;
    background-repeat: no-repeat;
    background-position: relative ;
    
}
.logo-img{
    width: 732px;
    height: 309px;
    margin-left: 1244px;
    margin-top: 51px;
}

.front-image{
        top: 233px;
        width: 191px;
        height: 81px;
        margin-left: 1083px;
  }

  .text{
    width: 504px;
    height: 187px;
    top: 369px;
    margin-left: 1083px;
  }

  .intro-text{
    color: white;
    font-size: 26px;
    font-weight: 400px;
    line-height: 40px;
    
  }
    
.buttons{
    width:237px;
    height:72px;
    top: 611px;
    margin-left: 1083px;
    color: fffff; 
    font:large
       
}

.button{
width: Hug (237px)px;
height: Hug (72px)px;
top: 611px;
left: 1083px;
padding: 19px 26px 19px 26px;
gap: 8px;
opacity: 0px;
font:bolder;
background-color: white;
font-size: larger;
cursor: pointer;
font-weight: bolder 20%;

}