* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


.brand-logos-img{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;   
}


.brand-logos-img:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    animation: 10s slide infinite linear;
}